<div class="row">
  <div *ngFor="let product of products" class="col-lg-3 col-md-6">
    <div class="card mb-4">
      <img [src]=" 'assets/' + product.imageURL" class="card-img-top" alt="Product Image">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{product.price | currency :'try' }}</li>
        <li class="list-group-item">{{product.qty}}</li>
        <li class="list-group-item">{{product.categoryName}}</li>
      </ul>
      <div class="card-body">
        <a routerLink="/product/{{product.id}}" class="btn btn-success">Ürüne git</a>

      </div>
    </div>
  </div>
</div>